<header class="site-header">
  <!-- Menu toggle -->
  <div class="header-left-section">
    <button class="menu-button" aria-label="Open menu">
      <!-- Menu Icon -->
      <svg class="icon" aria-hidden="true" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg> 
    </button>
  </div>

  <div class="header-middle-section">
    ... <!-- Page title is loaded in JS -->
  </div>

  <div class="header-right-section">
    <!-- Dark mode toggle -->
    <button id="theme-toggle" aria-label="Toggle dark mode">
        🌙
    </button>
    <!-- Navigation for desktop -->
    <nav class="main-nav">
      <a href="/">HOME</a>
      <a href="/pages/projects.html">PROJECTS</a>
      <a href="/pages/resume.html">RESUME</a>
      <a href="/pages/experience.html">EXPERIENCE</a>
    </nav>
  </div>
</header>