.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  margin: 2rem;
}

.project-card {
  padding: 1.5rem;
  height: 400px;
  border: var(--border);
  overflow: hidden; /* Ensure image doesn't overflow the card */
  transition: all var(--transition-speed) ease, 
              transform 0.2s ease;

  border-radius: var(--border-radius);
  box-shadow: var(--shadow);

  text-decoration: none;
}
.project-card:hover {
  transform: translateY(-6px);
}

.project-card img {
  width: 100%;
  border-radius: var(--border-radius);
}

.project-card h3 {
  margin-top: 0;
}

/* For small screens */
@media (max-width: 600px) {
  .project-grid {
    grid-template-columns: 1fr;
    margin: 2rem 1rem;
    gap: 1rem;
  }
  .project-card {
    height: auto; /* No need to limit the height */
  }
}